// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset

// To configure blueprint, edit the partials/base.sass file.
@import partials/base

// Import all the default blueprint modules so that we can access their mixins.
@import blueprint

// Combine the partials into a single screen stylesheet.
@import partials/page
@import partials/form
@import partials/two_col

body
  background-color: #333

  &.two-col
    #header
      float: none
      display: block
      height: 120px

#sidebar
  min-height: 600px
  background-color: #f00
 
#container
  background-color: #ddd
  min-height: 600px

#modal_opacity
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(0,0,0,0.5)
  
body
  position: relative
  
  
.hidden
  display: none
  
#noteForm
  position: absolute
  position: fixed
  margin: 0 auto
  top: -400px
  background-color: #ee9
  height: 400px
  overflow: hidden
  // padding: 20px 20px 0 20px
  border: 20px solid #ee9
  border-bottom: 5px solid #ee9
  // .button
  //   height: 20px
  
  label
    color: #44e
    font-family: Chalkduster, Arial
    
  textarea
    height: 350px
    background-color: #ee9
    border: none
    outline: none
    resize: none
    color: #44e
    font-family: Chalkduster, Arial
    font-size: 14pt
