// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset

// To configure blueprint, edit the partials/base.sass file.
@import partials/base

// Import all the default blueprint modules so that we can access their mixins.
@import blueprint

// Combine the partials into a single screen stylesheet.
@import partials/page
@import partials/form
@import partials/two_col

body
  background-color: #333

#header
  height: 120px

#sidebar
  min-height: 600px
  background-color: #f00
 
#container
  background-color: #ddd
  min-height: 600px

#modal_opacity
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(0,0,0,0.5)
  
  
.hidden
  display: none
  
#noteForm
  position: absolute
  margin: 0 auto
  top: -400px
  background-color: #999
  height: 400px
  overflow: hidden
  // padding: 20px 20px 0 20px
  border: 20px solid #999
  border-bottom: 5px solid #999
  // .button
  //   height: 20px
  textarea
    height: 370px