
- if @events.any?
  
  - @events.each do |e|
    %p
      %h4
        = l e.created_at, :format => :short
        \:
      %h2
        = Event.render_message e.get_associations, e.message_handle
        
