
- if @events.any?
  #eventsContainer
    %ul
      - @events.each do |e|
        %li
          %h4.datime
            = l e.created_at, :format => :short
            \:
          %h4.evtMsg
            = make_event_message Event.render_message_list(e.get_associations, e.message_handle)
        
