%h1 Listing projects

%table
  %tr
    %th Title
    %th Client
    %th
    %th
    %th

  - @projects.each do |project|
    %tr
      %td
        = link_to project.title, project
      %td
        = link_to_unless project.client.nil?, project.client.try(:name), project.client


%br

= link_to 'New project', new_project_path
